:root {
  /* Fuentes */
  --font-primary: "Playfair Display", serif;
  --font-secondary: "Raleway", sans-serif;

  /* Colores */
  --color-primary: #037bc0;
  --color-secondary: #8cbc00;
}

/* Globales */
.imagen-bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* Titulo */
.titulo {
  font-family: var(--font-primary);
}

.titulo span {
  color: var(--color-primary);
}

.nav-link {
  color: black!important;
  transition: ease-in .2s all;
}

.nav-link:hover {
  color: var(--color-primary)!important;
}

.navbar {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

/* Imagen Principal */
.imagen-principal {
  background-image: url(../img/principal.jpg);
  height: 35rem;
}