:root {
  /* Fuentes */
  --font-primary: "Playfair Display", serif;
  --font-secondary: "Raleway", sans-serif;

  /* Colores */
  --color-primary: #037bc0;
  --color-secondary: #8cbc00;
  --color-secondary-dark: #678a00;
}

/* Globales */
.imagen-bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

h2 {
  font-size: 3rem;
}

.bg-primary {
  background-color: var(--color-primary)!important;
}

/* Titulo */
.titulo {
  font-family: var(--font-primary);
}

.titulo span {
  color: var(--color-primary);
}

.nav-link {
  color: black!important;
  transition: ease-in .2s all;
}

.nav-link:hover {
  color: var(--color-primary)!important;
}

.navbar {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

/* Imagen Principal */
.imagen-principal {
  background-image: url(../img/principal.jpg);
  height: 35rem;
}

/* Categorías */
.categorias a {
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  font-weight: 400;
  color: black;
}

.categorias a:hover {
  text-decoration: none;
  color: var(--color-secondary);
}

/* Nosotros */
.sobre-nosotros,
.imagen-nosotros {
  min-height: 35rem;
}

.imagen-nosotros {
  background-image: url(../img/nosotros.jpg);
}

/* Productos */

.info-producto .precio {
  font-size: 1.8rem;
}

.info-producto .btn-success {
  background-color: var(--color-secondary)!important;
  border-color: var(--color-secondary)!important;
}

.info-producto .btn-success:hover {
  background-color: var(--color-secondary-dark)!important;
  border-color: var(--color-secondary-dark)!important;
}