:root {
  --primary: hsl(82, 100%, 35%);
  --primary-light: hsl(82, 100%, 40%);
  --secondary: hsl(35, 92%, 46%);
  --white-primary: hsl(0, 0%, 100%);
  --white-secondary: hsla(0, 0%, 100%, 0.75);
  --black-primary: hsl(0, 0%, 0%);
  --black-primary: rgba(0, 0, 0, 0.75);
}

body {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
}

.bg-success {
  background-color: var(--primary) !important;
}

@media screen and (min-width: 768px) {
  .barra.bg-success {
    background-color: transparent !important;
  }

  .header {
    position: relative;
  }

  .header .barra {
    position: absolute;
    z-index: 100;
    width: 100%;
  }
}

/* Nav */

.navbar-brand {
  font-size: 2rem;
  font-weight: 300;
}

.navbar-brand span {
  font-weight: 900;
}

.nav-link {
  font-size: 0.8rem;
  color: var(--white-primary) !important;
  text-transform: uppercase;
}

.nav-link:hover {
  color: var(--white-secondary) !important;
}

.dropdown-menu {
  background-color: var(--primary);
}

.dropdown-menu .dropdown-item {
  color: var(--white-primary);
}

.dropdown-menu .dropdown-item:hover {
  color: var(--black-primary);
  background-color: var(--primary-light);
}

/* Caption */

.carousel-caption h3 {
  font-size: 2.4rem;
}

.block-info p {
  font-size: 1.4rem;
}

.btn-warning {
  border-color: var(--secondary);
  background-color: var(--secondary);
  font-weight: 700;
  color: var(--white-primary);
}
/* Sobre Nosotros */
.sobre-nosotros h3{
  font-size: 1rem;
  font-weight: 700;
}

/* Anuncios */
.card {
  margin-bottom: 2rem;
}

.card-precio {
  font-size: 1.1;
  color: var(--primary);
}

.card-descripcion img{
  margin-right: .5rem;
}
